<div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="loadMore()">
  <div class="row">
    <div *ngFor="let item of items" class="col-lg-3 col-md-4 col-sm-6">
      <item-detail [item]="item"></item-detail>
    </div>
  </div>
</div>

<p class="text-xs-center" [hidden]="isLastPage || items?.length == 0"><button class="btn btn-primary" (click)="loadMore()">Load more</button></p>

<div [hidden]="items?.length !== 0">
    <p class="text-sm-center">No results for this search. Try again!</p>
</div>