<div class="card">
  <img class="card-img-top img-fluid" src="images/{{item.image}}" />
  <div class="card-block">
    <add-to-wishlist [item]="item" class="pull-right" (click)="updateWishlist()"></add-to-wishlist>
    <span class="price" [hidden]="compact">{{item.price}}&euro;</span>
    <h4 class="card-title">{{item.title}}</h4>
    <div [hidden]="compact">
      <p class="card-text">{{item.description}}</p>
      <p class="card-text">
        <small class="text-muted">
          <a href="mailto:{{item.email}}">{{item.email}}</a>
        </small>
      </p>
    </div>
  </div>
</div>